# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.csproj]
indent_size = 2

[*.cs]
# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = suggestion
# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = suggestion
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion
